---
layout: default
title: 冲出宁静号
---
<div id='wrapper'>
    <div id='posts'>    
    		{% for post in paginator.posts %}
            <div class='postInfo'>
                <a href='{{ post.url }}'>
                    {{ post.date | date_to_string }}
                    <br />
                    <span>{{ post.date | date:"%I:%M %p" }}</span>
                </a>
            </div>
            <div class='postWrapper'>
                <div class='postContainer'> 
                    <div class='post'>
                        <h3>{{ post.title }}</h3>
                        <figure class="">
							<p>{{ post.content }}</p>
                        </figure>
                    </div>
                    <!--
                    <div class='insideInfo'>
                        <div class='postTags'>
                            {{ post.date | timeago(Date.today) }}
                        </div>
                        <div class='postNotes'>
                            0 notes
                        </div>
                        <br class='clear' />
                    </div>
                    -->
                </div>
            </div>
            {% endfor %}

    </div>
    <div class='footer'>
        <div class='credits'>
            <a href='http://fengsongyan.com/atom.xml'>RSS</a> | <a href='/archive'>Archive</a> | 
            Theme by: <a href='mailto:fsy@outlook.com'>FSY</a>
        </div>
        <div id="post-pagination" class="pagination">
          {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                <a href="/">Previous</a>
              {% else %}
                <a href="{{ paginator.previous_page_path }}">Previous</a>
              {% endif %}
          {% else %}
              <span class="previous disabled">Previous</span>
          {% endif %}

          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

          {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}">Next</a>
          {% else %}
              <span class="next disabled">Next</span>
          {% endif %}
        </div>
    </div>
</div>