<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name='description' content='冲出宁静号,Serenity' />
	<meta name='color:Link' content='#6699cc' />
	<meta http-equiv="x-dns-prefetch-control" content="off"/>

	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/serenity.css" type="text/css" media="screen, projection" />
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript">
	function goTop()
	{
	    $(window).scroll(function(e) {
	        //若滚动条离顶部大于100元素
	        if($(window).scrollTop()>100)
	            $("#gotop").fadeIn(1000);//以1秒的间隔渐显id=gotop的元素
	        else
	            $("#gotop").fadeOut(1000);//以1秒的间隔渐隐id=gotop的元素
	    });
	};
	$(function(){
	    //点击回到顶部的元素
	    $("#gotop").click(function(e) {
	            //以1秒的间隔返回顶部
	            $('body,html').animate({scrollTop:0},1000);
	    });
	    $("#gotop").mouseover(function(e) {
	        $(this).css("background","url(images/backtop2013.png) no-repeat 0px 0px");
	    });
	    $("#gotop").mouseout(function(e) {
	        $(this).css("background","url(images/backtop2013.png) no-repeat -70px 0px");
	    });
	    goTop();//实现回到顶部元素的渐显与渐隐
	});
	</script>	

<!--
	<link rel='icon' href='http://33.media.tumblr.com/avatar_6f8be894deeb_128.png' />
	<link rel='shortcut icon' href='http://33.media.tumblr.com/avatar_6f8be894deeb_128.png' />
	<link rel='alternate' type='application/atom+xml' href="http://fengsongyan.com/atom.xml"  title="Serenity" />
	<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=a4169182721d644dacd145af89115b95"></script>
	<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/fonts/gibson/stylesheet.css?v=3">
-->
	<style type="text/css">figure {margin: 0;}</style>	
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'thispc';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	</script>	
</head>