<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name='description' content='冲出宁静号,Serenity' />
	<meta name='color:Link' content='#6699cc' />
	<meta http-equiv="x-dns-prefetch-control" content="off"/>

	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/serenity.css" type="text/css" media="screen, projection" />
<!--
	<link rel='icon' href='http://33.media.tumblr.com/avatar_6f8be894deeb_128.png' />
	<link rel='shortcut icon' href='http://33.media.tumblr.com/avatar_6f8be894deeb_128.png' />
	<link rel='alternate' type='application/atom+xml' href="http://fengsongyan.com/atom.xml"  title="Serenity" />
	<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=a4169182721d644dacd145af89115b95"></script>
	<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/fonts/gibson/stylesheet.css?v=3">
-->
	<style type="text/css">figure {margin: 0;}</style>	
</head>