<!DOCTYPE html>
<html lang="zh-cn">

  {% include head.html %}

<body>
<div id='header'>
    <div id='headerContent'>
        <h1><a href='/'>Serenity</a></h1>
            <p>冲出宁静号 | <a href="https://twitter.com/#!/vonsy">Twitter</a> | <a href="https://www.google.com/+BadRobots">Google+</a> | <a href="https://www.facebook.com/vonsy">Facebook</a> | <a href="{{ site.url}}/pgp.txt">Public Keys</a></p>
    </div>
</div>
  
  {{ content }}
  <br class='clear' />
<a href="http://github.com/vonsy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</body>
</html>