<!DOCTYPE html>
<html lang="zh-cn">

  {% include head.html %}

<body>
	<div id='header'>
	    <div id='headerContent'>
	        <h1><a href='/'>Serenity</a></h1>
	            <p>冲出宁静号 | <a href="https://twitter.com/vonsy">Twitter</a> | <a href="{{ site.url}}/pgp.txt">Public Keys</a></p>
	    </div>
	</div>
<div id='wrapper'>
    <div id='posts'>    
            <div class='postInfo'>
            </div>

            <div class='postWrapper'>
                <div class='postContainer'> 
                    <div class='post'>
                    	<h3>{{ page.title }}</h3>
                        <p>{{ content }}</p>
                    </div>
                    {% if page.comments %}

                    <div class='insideInfo'>
                    </div>
                    <div style="margin: 10px">
                    {% include comments.html %}
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
    <div class='footer'>
        <div class='credits'>
            Host on <a href='https://pages.github.com/'>Github</a> | <a href='/atom.xml'>RSS</a> | Theme by: <a href='mailto:fsy@outlook.com'>FSY</a>
        </div>
    </div>
</div>
</body>
</html>

