---
layout: default
---
<div id='wrapper'>
    <div id='posts'>    
            <div class='postInfo'>
            </div>

            <div class='postWrapper'>
                <div class='postContainer'> 
                    <div class='post'>
                    	<h3>{{ page.title }}</h3>
                        <p>{{ content }}</p>
                    </div>
                    {% if page.comments %}

                    <div class='insideInfo'>
                    </div>
                    <div style="margin: 10px">
                    {% include comments.html %}
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
</div>

